@font-face {
  font-family: "iconfont"; /* Project id 4388344 */
  src: url('iconfont.woff2?t=1714102415627') format('woff2'),
       url('iconfont.woff?t=1714102415627') format('woff'),
       url('iconfont.ttf?t=1714102415627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyan:before {
  content: "\e64e";
}

.icon-yanzhengma:before {
  content: "\ee18";
}

.icon-phone:before {
  content: "\e60f";
}

.icon-email:before {
  content: "\e657";
}

.icon-dangqian:before {
  content: "\e64b";
}

.icon-caret-down:before {
  content: "\e600";
}

.icon-caret-left:before {
  content: "\e601";
}

.icon-caret-up:before {
  content: "\e602";
}

.icon-caret-right:before {
  content: "\e603";
}

.icon-chart-line:before {
  content: "\e606";
}

.icon-check:before {
  content: "\e607";
}

.icon-chevron-down:before {
  content: "\e608";
}

.icon-chevron-right:before {
  content: "\e60a";
}

.icon-chevron-left:before {
  content: "\e60b";
}

.icon-chevron-up:before {
  content: "\e60c";
}

.icon-compress:before {
  content: "\e60d";
}

.icon-expand:before {
  content: "\e60e";
}

.icon-add:before {
  content: "\e759";
}

.icon-remove:before {
  content: "\e75c";
}

.icon-outdent:before {
  content: "\e604";
}

.icon-indent:before {
  content: "\e605";
}

.icon-tuichu:before {
  content: "\e688";
}

.icon-yisuoping:before {
  content: "\e689";
}

.icon-yijiesuo:before {
  content: "\e68a";
}

.icon-qingping:before {
  content: "\e68b";
}

.icon-user1:before {
  content: "\e92d";
}

.icon-user:before {
  content: "\e746";
}

.icon-charts-line:before {
  content: "\e826";
}

.icon-tree:before {
  content: "\e895";
}

.icon-liebiao:before {
  content: "\e64a";
}

.icon-refresh:before {
  content: "\e636";
}

.icon-cuowu:before {
  content: "\e70d";
}

.icon-icon-403:before {
  content: "\e653";
}

.icon-icon-404:before {
  content: "\e654";
}

.icon-icon-500:before {
  content: "\e655";
}

.icon-yonghuguanli:before {
  content: "\e613";
}

.icon-calendar-alt:before {
  content: "\e81a";
}

.icon-xitongguanli:before {
  content: "\e683";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-jiaoseguanli:before {
  content: "\e61a";
}

.icon-zidianguanli:before {
  content: "\e652";
}

.icon-caidanguanli:before {
  content: "\e656";
}

.icon-box:before {
  content: "\e609";
}

