.layout {
  .el-aside {
    padding: 0;
    margin: 0;
    width: auto;
    box-shadow: 2px 0 12px #1d23290d;
    background-color: #304156;
  }
  .el-header {
    padding: 0;
    margin: 0;
    height: auto;
  }
  .el-main {
    padding: 0;
    margin: 0;
  }
  &-header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e4ef;
    &--left,
    &--right {
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
  }
  &-navTab {
    height: 40px;
    box-shadow: 0 0 1px rgba(136, 136, 136);
    display: flex;
    align-items: center;
    // background-color: #fff;
    .el-tabs {
      width: calc(100% - 80px);

      .el-tabs__header {
        margin-bottom: 0;

        .el-tabs__nav-wrap::after {
          height: 0;
        }

        .el-tabs__nav-prev,
        .el-tabs__nav-next {
          line-height: 40px;
        }

        .el-tabs__active-bar {
          display: none;
        }

        .is-icon-close {
          margin-left: 8px;
        }
      }

      .el-tabs__item {
        padding: 0;
      }
    }
    &--refresh {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;
      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
    }
    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 9px 0 12px;
      border: 1px solid var(--el-border-color-light);
      height: 31px;
      margin-left: 8px;
      border-radius: 5px;

      .el-icon {
        &:hover {
          background-color: var(--primary);
          color: #fff;
          border-radius: 50%;
        }
      }

      &.active {
        background: var(--el-color-primary-light-8);
        border-color: var(--el-color-primary-light-3);
        color: var(--primary);

        .svg-icon > .use-icon {
          fill: var(--primary);
        }
      }

      span {
        margin: 0 10px;
      }
    }
    .el-dropdown-link {
      width: 40px;
      height: 40px;
    }
  }
  &-aside {
    box-sizing: border-box;
    width: 200px;
    transition: width 0.3s;
    &--collapse {
      width: 64px;
    }
    .el-menu {
      border: none;
    }
  }
  &-logo {
    color: #fff;
    height: 48px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .logo {
      max-width: 32px;
      max-height: 32px;
    }
    .title {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
      margin-left: 8px;
      // transition: all 0.3s;
    }
  }
  &-main {
    box-sizing: border-box;
    padding: 16px;
  }
  // 布局样式
  &-vertical {
    .layout-main {
      height: calc(100vh - 64px - 40px);
    }
  }
}
