$dark: #001529;
$navTab-height: 42px;
$header-height: 56px;
.layout {
  .el-aside {
    padding: 0;
    margin: 0;
    width: auto;
    box-shadow: 2px 0 12px #1d23290d;
    overflow: hidden;
    border-right: 1px solid var(--el-border-color-lighter);
  }
  .el-header {
    padding: 0;
    margin: 0;
    height: auto;
    // box-shadow: 0 0 1px rgba(136, 136, 136);
    // background-color: var(--header-bg);
  }
  .el-main {
    padding: 0;
    margin: 0;
  }
  &-header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--left,
    &--right {
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
    &--avatar {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &-navTab {
    height: $navTab-height;
    box-sizing: border-box;
    // box-shadow: 1px 0 1px rgba(136, 136, 136);
    border-top: 1px solid var(--el-border-color-lighter);
    border-bottom: 1px solid var(--el-border-color-lighter);
    display: flex;
    .el-tabs {
      width: calc(100% - 80px);

      .el-tabs__header {
        margin-bottom: 0;

        .el-tabs__nav-wrap::after {
          height: 0;
        }

        .el-tabs__nav-prev,
        .el-tabs__nav-next {
          line-height: 40px;
        }

        .el-tabs__active-bar {
          display: none;
        }

        .is-icon-close {
          margin-left: 8px;
        }
      }

      .el-tabs__item {
        padding: 0;
      }
    }
    &--refresh {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;
      border: 1px solid var(--el-border-color-lighter);
    }
    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 9px 0 12px;
      border: 1px solid var(--el-border-color-light);
      height: 30px;
      margin-left: 8px;
      border-radius: 5px;
      .el-icon {
        &:hover {
          background-color: var(--primary);
          color: #fff;
          border-radius: 50%;
        }
      }

      &.active {
        color: var(--primary);

        .svg-icon > .use-icon {
          fill: var(--primary);
        }
      }

      span {
        margin: 0 10px;
      }
    }
    .el-dropdown-link {
      width: 40px;
      height: 40px;
    }
  }
  &-aside {
    box-sizing: border-box;
    width: 200px;
    transition: width 0.3s;
    &--collapse {
      width: 64px;
    }
    .el-menu {
      border: none;
      // 选中时候图标高亮
      .el-menu-item {
        height: 42px;
        margin-top: 6px !important;
        margin: 0 8px;
        border-radius: 4px;
        &:hover {
          background-color: var(--color-fill-2);
        }

        &.is-active {
          background-color: var(--el-fill-color);

          > .el-icon > .svg-icon > .use-icon {
            fill: var(--primary);
          }
        }
      }
      .el-sub-menu {
        &.is-active {
          .el-sub-menu__title {
            color: var(--primary);
            > .el-icon > .svg-icon > .use-icon {
              fill: var(--primary);
            }
          }
        }

        .el-sub-menu__title {
          height: 42px;
          margin: 0 8px;
          margin-top: 6px;
          border-radius: 4px;
          &:hover {
            background-color: var(--el-fill-color);
          }
        }
      }
    }
    .el-menu--horizontal {
      height: 56px;
    }
    &--dark {
      background-color: $dark;
    }
  }
  &-logo {
    height: 56px;
    width: 200px;
    transition: width 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    .logo {
      height: 32px;
    }
    &--collapse {
      width: 64px;
    }
  }
  &-main {
    height: calc(100vh - $header-height - $navTab-height);
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--current--main-background-color);
  }
  // 布局样式
  &-vertical {
  }
  // 经典布局
  &-classic {
    .el-header {
      display: flex;
      justify-content: flex-start;
    }
    .layout-header {
      flex: 1;
    }
  }
  &-horizontal {
    .el-header {
      display: flex;
      justify-content: flex-start;
      height: 56px;
    }
    .layout-aside {
      flex: 1;
    }
    .el-menu--horizontal.el-menu {
      border-bottom: 0;
    }
  }
  &-columns {
    display: flex;
    .layout-column {
      box-shadow: 2px 0 1px -2px rgb(136, 136, 136);
      &--logo {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &--item {
        width: 90px !important;
        box-sizing: border-box;
        padding: 4px;
        margin: 0 4px 4px 4px;
        height: 60px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          margin-top: 8px;
        }
        &:hover {
          background-color: #ccc;
        }
        &.is-active {
        }
      }
    }

    &--main {
      flex: 1;
    }
    &--aside {
      box-shadow: 2px 0 1px -2px rgb(136, 136, 136);
    }
  }
}
