:root {
  --nomral: 16px;
  --light-1: rgb(73, 143, 251);
  --light-2: rgb(93, 155, 252);
  --light-3: rgb(114, 168, 252);
  --light-4: rgb(134, 180, 253);
  --light-5: rgb(154, 193, 253);
  --light-6: rgb(174, 205, 253);
  --light-7: rgb(194, 218, 254);
  --light-8: rgb(215, 230, 254);
  --light-9: rgb(235, 243, 255);
  --primary: #3582fb;
}

@import './reset.scss'; // 初始化样式scss
@import './common.scss'; // 公共样式scss
