.workbench {
  height: 100%;
  overflow: auto;
  padding: 0;
  background-color: var(--current-background-color);
  &-header {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    .workbench-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
      &--item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 120px;
        height: 32px;
        line-height: 32px;
        margin-right: 4px;
        overflow: hidden;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;
        border-radius: 4px;
        color: #333;
      }
      [active='true'] {
        background: var(--primary);
        color: #fff;
      }
    }
    &-add {
      cursor: pointer;
    }
  }
  .griditem {
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    background-color: var(--current-background-color-9);
  }
  &-setting {
    position: fixed;
    right: 16px;
    top: 108px;
  }
}
